$bg-color: white;
$theater-color: orange;
$film-color: green;
$im-color: yellow;
$music-color: blue;
$visarts-color: red;
$multi-color: purple;

$legend-font: Minon-Regular;
$legend-desc: Minion-Italic;
$titles-font: Gotham-Regular;

$margin-side: 2%;

body{
	background-color: $bg-color;
}

html, body {
    margin: 0;
    // overflow: hidden;
    height: 100%;
		width: 100%;
		font-family: $titles-font;
}

#banner{
	height: 100px;
	background-color: teal;
	color: white;
	font-family: $titles-font;
	padding: 0;

	z-index: 5;

	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
}

#banner #header{
	position: relative;
	// margin-left: $margin-side;
	text-align: left;
	font-size: 90px;
	padding-top: 0px;
	float: left;
}

#header{
	width: 80%;
}

#os-logo{
	position: relative;
	top: 5%;
	left: $margin-side;
	background-image: url('./images/os-logo-white.png');
	background-repeat: no-repeat;
	background-size: contain;
	// padding-top: 10%;
	height: 90%;
	width: auto;
	min-width: 150px;

	float: left;

}

#container{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas{
  z-index: 1;
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
  overflow: visible;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
}

/* Scale canvas with resize attribute to full size */
/*canvas[resize] {
    width: 100%;
    height: 100%;
}*/

.floors{
	position: absolute;
	z-index: 3;
	top: 3%;
	left: $margin-side;
}

#ground_floor, #first_floor{
	font-size: 1.8em;
	font-family: $titles-font;
	cursor: pointer;

	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
}

#ground_floor{
	opacity: 1;
	margin-top: 10px;
}

#first_floor{
	opacity: 0.3;
}


#info{
  border: 5px solid rgb(19, 168, 158);
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(19, 168, 158);
  font-size: 1.25em;
  position: relative;
	float: right;
  z-index: 2;

  width: 25%;

  /*height: auto;*/
  height: auto;
  transition: max-height 0.5s ease-in-out;
  min-height: 20%;
  max-height: 75%;

  top: 0%;
	right: 0%;
  padding: 2%;
  margin: $margin-side;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;

  -webkit-transition: border-color .5s ease-in-out;
  -moz-transition: border-color .5s ease-in-out;
  -o-transition: border-color .5s ease-in-out;
  -ms-transition: border-color .5s ease-in-out;
  transition: border-color .5s ease-in-out;
}

#title{
	width: 90%;
}

#title, #time, #place, #description{
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
}

#time_and_place{
	width: 100%;
	overflow: visible;
	height: auto;
	min-height: 20px;
	max-height: 70px;
	display: block;
}

#time{
	max-width: 40%;
	height: auto;
	float: left;
}

#place{
	max-width: 60%;
	height: auto;
	float: right;
}

#title{
  font-family: $titles-font;
}

#time{
  font-family: $legend-desc;
}

#place{
  font-family: $legend-desc;
}

#description{
 font-family: $legend-font;
}

.web{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: auto;
}

.mobile{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 100%;
}

hr{
	display: block;
	width: 100%;
  background-color:rgb(19, 168, 158);
  height: 3px;
  border: none;

  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;

  -webkit-transition: background-color .15s linear;
  -moz-transition: background-color .15s linear;
  -o-transition: background-color .15s linear;
  -ms-transition: background-color .15s linear;
  transition: background-color .15s linear;
}

#stream{
	width: 600px;
	height: 600px;
}
