.top-image{
		width: 100%;
    z-index: -1;
    background-size: contain;
}

.links-container{
  position: absolute;
  right: 2%;
  bottom: 10%;
  width: 40%;
}

.info-container{
  position: relative;
  width: 80%;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.legend{
  text-align: center;
}

@media (max-width: 700px) {
	.info-container{
		top: 0px;
	}
}

@media (min-width: 1400px) {
	.info-container{
		top: -40px;
	}
}

.links-container a{
	display: block;
	text-decoration: none;
  color: rgb(255,97,95);
	text-align: center;
	width: 200px;
	font-size: 1em;
	margin: 10px auto;
	border: 2px solid;
	border-radius: 22px;
	padding: 10px 20px;
}

.links-container a:hover{
	color: white;
	background-color: rgb(255,97,95);
}

.links-container a.current{
  font-weight: bold;
  color: rgb(255,37,45);
  width: 240px;
  font-size: 1.2em;
}

.links-container a.current:hover{
	color: white;
	background-color: rgb(255,37,45);
  font-size: 1.2em;
}
