@font-face {
    font-family: Gotham-Regular;
    src: url("./fonts/Gotham-Medium.otf");
}

@font-face {
    font-family: Minion-Regular;
    src: url("./fonts/MinionPro-Regular.otf");
}

@font-face {
    font-family: Minion-Italic;
    src: url("./fonts/MinionPro-It.otf");
}
